html, body {
    background-color: lightskyblue;
}

.wrapper {
    width: 40vw;
    margin: 100px auto;

    display: grid;
    grid-template-columns: 20px repeat(6, 1fr) 20px;

    border: 2px solid darkorange;
}

.wrapper * {
    padding: 20px;
    background: rgba(255,140,0, .8);
    border: 1px solid darkorange;
}